<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sākumlapa</title>
</head>
<body>
    <h1>Sveicināti mūsu mājaslapā!</h1>
    <p><a href="{{ url_for('stabini') }}">Apskatīt stabiņu kas piemērota saules mīļiem diagrammu</a></p>
    <p><a href="{{ url_for('histogramma') }}">Apskatīt histogrammu un scatter diagrammu par gaisa spiedienu</a></p>
    <p><a href="{{ url_for('linijas') }}">Apskatīt līniju diagrammu par vēja brāzmu ātrumu un gaisa temperatūru </a></p>
    <p><a href="{{ url_for('heatmap') }}">Apskatīt "siltuma karti" par nakts temperatūru un gaisa mitrumu </a></p>
</body>
</html>