<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>heatmap_corr</title>
    <!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafiku pozicionēšana</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        #grafiks1 {
            position: relative;
            top: 0px; /* Pabīda grafiku 1 uz augšu */
        }
        #grafiks2 {
            position: relative;
            top: -200px; 
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Korelācijas grafiks un "siltuma karte": temperatūra un mitrums </h1>
    <img id="grafiks1" src="/static/heatmap.png" alt="Heatmap">
    <img id="grafiks2" src="/static/korelacija.png" alt="Korelacija" class="korelacijas-grafiks">
</body>
</html>
